
{% extends 'base.html' %}

{% block content %}

{% load static %}
	
	<p class="d-none page-title">Shop</p>

	<!-- Start product Area -->
	<div class="row d-flex align-items-center justify-content-around detail-feature-section">
		<div class="col-sm-5 col-xs-12 detail-product-image-box">
			<a target="_blank" href="{% if product.image %} {{ product.image.url }} {% else %} {% static 'img/default.jpg' %} {% endif %}"><img class="detail-product-image" src="{% if product.image %} {{ product.image.url }} {% else %} {% static 'img/default.jpg' %} {% endif %}" alt="unique from trees"></a>
		</div>
		<div class="col-sm-5 col-xs-12 detail-product-description-box row flex-column align-items-start">
			<h2 class="mt-2 maven_font">{{ product.name }}</h2>
			<h3 class="maven_font">{{ product.price }} VNĐ</h3>
			<p class="maven_font">{{ product.description }}</p>
			<form class="detail-page-text maven_font" id="add_to_cart_form" action="{% url "cart:cart_add" product.id %}" method="post">
                {% csrf_token %}                                                
                {{ cart_product_form }}
                <input type="submit" value="Thêm vào giỏ hàng" class="genric-btn primary circle">
            </form>
            <h4 class="maven_font">Danh mục: <a href="{{ product.category.get_absolute_url }}">{{ product.category }}</a></h4>			
		</div>
	</div>
	<!-- End product area -->

	{% if products_of_same_category %}
	<!-- Start sản phẩm liên quan Area -->
	<section id="product_detail_related_product_laptop_ipad" class="feature-area pt-100 relative">
		<div class="overlay overlay-bg"></div>
		<div class="container_new">
			<div>
				<h2 id="san_pham_lien_quan">SẢN PHẨM LIÊN QUAN</h2>
			</div>					
			<div class="row">
				{% for i in products_of_same_category %}	
				<div class="col-4 col-xl-3 align-items-stretch p-0">
					<div class="box_shadow_baby d-flex flex-column m-2 p-2">
						<div class="relative mb-4" onmouseover="{% if i.description %} showDescription({{ forloop.counter0 }}) {% endif %}; showForm({{ forloop.counter0 }})" onmouseleave="hideDescription({{ forloop.counter0 }}); hideForm({{ forloop.counter0 }})">

							<div>
								<a href="{{ i.get_absolute_url }}">
									<img class="d-block relative w-100" src="{% if i.image %} {{ i.image.url }} {% else %} {% static 'img/default.jpg' %} {% endif %}" style="z-index: 600; border: 1px solid #fff; border-radius: 4px;" alt="{{ i.name }}">
								</a>
							</div>

							<a href="{{ product.get_absolute_url }}">
								<div class="product_desc_box" style="position: absolute; top: 1px; left: 1px; right: 1px; z-index: 20000; opacity: 0; transition: opacity 0.3s; -webkit-transition: opacity 0.3s;">
									<p>{{ i.description|truncatewords:23 }}</p> 
								</div>
							</a>

							<div class="form_add_cart" style="position: absolute; bottom: 1px; left: 1px; right: 1px; z-index: 20000; opacity: 0; transition: opacity 0.3s; -webkit-transition: opacity 0.3s;">
								<form class="detail-page-text" action="{% url "cart:cart_add" i.id %}" method="post">
					                {% csrf_token %}                                                
					                <input type="hidden" name="quantity" value="1">
					                <input style="width: 100%; font-size: 13px; font-family: 'Maven Pro', sans-serif;" type="submit" value="Thêm vào giỏ" class="genric-btn primary radius">
					            </form>
							</div>

						</div>
						<div class="row" style="min-height: 60px;">
							<div class="col-6 text-center maven_font pr-0">
								<a class="desc_a" style="color: #111; font-size: 18px;" onmouseover="changeTextColorOn({{ forloop.counter0 }})" onmouseleave="changeTextColorOff({{ forloop.counter0 }})" href="{{ i.get_absolute_url }}">{{ i.name }}</a>
							</div>
							<div class="col-6 text-center maven_font px-0">
								<p style="color: red; font-size: 18px;">{{ i.price }} &#x20AB</p>
							</div>
						</div>
					</div>
				</div>	
				{% endfor %}
			</div>
			<!-- Paginator -->
				{% if products_of_same_category.paginator.num_pages > 1 %}
				<div class="relative py-3">
				<div class="d-flex flex-row-reverse">
					<div class="px-3"><a href="?page={{ products_of_same_category.paginator.num_pages }}"><i class="paginator fa fa-angle-double-right""></i></a></div>
					<div class="px-3"><a {% if products_of_same_category.has_next %} href="?page={{ products_of_same_category.next_page_number }}" {% else %} href="?page={{ products_of_same_category.paginator.num_pages }}" {% endif %}><i class="paginator fa fa-angle-right"></i></a></div>
					<div class="px-2">
						<div>
						{% for destination_page in paginator.page_range %}
							<div class="px-2 d-inline"><a {% if int_current_page == destination_page %} class="paginator-active" {% else %} class="dark_color_text paginator"  {% endif %} href="?page={{ destination_page }}">{{ destination_page }}</a></div>
						{% endfor %}
						</div>
					</div>
					<div class="px-3"><a {% if products_of_same_category.has_previous %} href="?page={{ products_of_same_category.previous_page_number }}" {% else %} href="?page=1" {% endif %}><i class="paginator fa fa-angle-left"></i></a></div>
					<div class="px-3"><a href="?page=1"><i class="paginator fa fa-angle-double-left"></i></a></div>
				</div>
			</div>
			{% endif %}
		</div>
	</section>
	<!-- End sản phẩm liên quan Area -->
	{% endif %}

	{% if products_of_same_category %}
	<!-- Start sản phẩm liên quan Area -->
	<section id="product_detail_related_product_iphone" class="feature-area relative">
		<div class="overlay overlay-bg"></div>
		<div class="container_new">
			<div>
				<h2 id="san_pham_lien_quan" style="font-size: 20px;">SẢN PHẨM LIÊN QUAN</h2>
			</div>					
			<div class="row">
				{% for i in products_of_same_category %}
				<div class="col-6 col-sm-4 align-items-stretch p-0">
					<div class="box_shadow_baby d-flex flex-column m-1 p-1">
						<div class="mb-2">
							<a href="{{ i.get_absolute_url }}">
								<img class="d-block relative w-100" src="{% if i.image %} {{ i.image.url }} {% else %} {% static 'img/default.jpg' %} {% endif %}" style="z-index: 600; border: 1px solid #fff; border-radius: 4px;" alt="{{ i.name }}">
							</a>
						</div>
						<div class="w-100 mx-auto row" style="min-height: 40px;">
							<div class="col-6 text-center maven_font py-0">
								<a href="{{ i.get_absolute_url }}"><p class="p-0 m-0" style="color: #111; font-size: 12px; line-height: 16px;">{{ i.name }}</p></a>
							</div>
							<div class="col-6 text-center maven_font p-0">
								<p class="p-0 m-0" style="color: red; font-size: 12px; line-height: 16px;">{{ i.price }} &#x20AB</p>
							</div>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
			<!-- Paginator -->
			{% if products_of_same_category.paginator.num_pages > 1 %}
			<div class="relative py-3 text-center">
				<div class="px-1 d-inline"><a href="?page=1"><i class="paginator-iphone fa fa-angle-double-left"></i></a></div>
				<div class="px-1 d-inline"><a {% if products_of_same_category.has_previous %} href="?page={{ products_of_same_category.previous_page_number }}" {% else %} href="?page=1" {% endif %}><i class="paginator-iphone fa fa-angle-left"></i></a></div>
				<div class="px-1 d-inline">
				{% for destination_page in paginator.page_range %}
					<div class="px-2 d-inline"><a {% if int_current_page == destination_page %} class="paginator-iphone-active" {% else %} class="dark_color_text paginator-iphone"  {% endif %} href="?page={{ destination_page }}">{{ destination_page }}</a></div>
				{% endfor %}
				</div>
				<div class="px-1 d-inline"><a {% if products_of_same_category.has_next %} href="?page={{ products_of_same_category.next_page_number }}" {% else %} href="?page={{ products_of_same_category.paginator.num_pages }}" {% endif %}><i class="paginator-iphone fa fa-angle-right"></i></a></div>
				<div class="px-1 d-inline"><a href="?page={{ products_of_same_category.paginator.num_pages }}"><i class="paginator-iphone fa fa-angle-double-right""></i></a></div>
			</div>
			{% endif %}
		</div>
	</section>
	<!-- End sản phẩm liên quan Area -->
	{% endif %}


{% endblock %}
