{% extends 'base.html' %}

{% block content %}

{% load static %}
<p class="d-none page-title">Tìm kiếm</p>
<!-- Start Feature Area -->
<section id="list_feature_laptop_ipad" class="feature-area relative">
	
	<div class="container_new row py-2 mt-4">
		<h1 class="col-12 dark_color_text maven_font" style="padding-left: 0; font-size: 21px;">Kết quả tìm kiếm cho <b style="color: #6cbb23">{{ view_query }}</b>:</h1>
		
	</div>

	<div class="container_new">
		{% if products %}
		<h2 class="dark_color_text maven_font py-2" style="font-size: 21px;">&#8226; Sản phẩm:</h2>
		{% endif %}
		<div class="row">

			{% for product in products %}
				<div class="col-6 col-md-4 col-xl-3 align-items-stretch p-0">
					<div class="box_shadow_baby d-flex flex-column m-2 p-2">
					<!-- Box for picture, description, add to cart form -->
						<div class="relative mb-4" onmouseover="{% if product.description %} showDescription({{ forloop.counter0 }}) {% endif %}; showForm({{ forloop.counter0 }})" onmouseleave="hideDescription({{ forloop.counter0 }}); hideForm({{ forloop.counter0 }})">

							<!-- Picture -->
							<div>
								<a href="{{ product.get_absolute_url }}">
									<img class="d-block relative w-100" src="{% if product.image %} {{ product.image.url }} {% else %} {% static 'img/default.jpg' %} {% endif %}" style="z-index: 600; border: 1px solid #fff; border-radius: 4px;" alt="{{ product.name }}">
								</a>
							</div>

							<!-- Description -->
							<a href="{{ product.get_absolute_url }}">
								<div class="product_desc_box" style="position: absolute; top: 1px; left: 1px; right: 1px; z-index: 20000; opacity: 0; transition: opacity 0.3s; -webkit-transition: opacity 0.3s;">
									<p>{{ product.description|truncatewords:23 }}</p> 
								</div>
							</a>

							<!-- Add to cart form -->
							<div class="form_add_cart" style="position: absolute; bottom: 1px; left: 1px; right: 1px; z-index: 20000; opacity: 0; transition: opacity 0.3s; -webkit-transition: opacity 0.3s;">
								<form class="detail-page-text" action="{% url "cart:cart_add" product.id %}" method="post">
					                {% csrf_token %}                                                
					                <input type="hidden" name="quantity" value="1">
					                <input style="width: 100%; font-size: 13px; font-family: 'Maven Pro', sans-serif;" type="submit" value="Thêm vào giỏ" class="genric-btn primary radius">
					            </form>
							</div>

						</div>
						<!-- Box for name and price -->
						<div class="row" style="min-height: 60px;">
							<div class="col-6 text-center maven_font pr-0">
								<a class="desc_a" style="color: #111; font-size: 18px;" onmouseover="changeTextColorOn({{ forloop.counter0 }})" onmouseleave="changeTextColorOff({{ forloop.counter0 }})" href="{{ product.get_absolute_url }}">{{ product.name }}</a>
							</div>
							<div class="col-6 text-center maven_font px-0">
								<p style="color: red; font-size: 18px;">{{ product.price }} &#x20AB</p>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}					

		</div>
		<!-- Paginator -->
		{% if products.paginator.num_pages > 1 %}
		<div class="relative py-3">
			<div class="d-flex flex-row-reverse">
				<div class="px-3"><a href="?q={{ view_query }}&page={{ products.paginator.num_pages }}"><i class="paginator fa fa-angle-double-right""></i></a></div>
				<div class="px-3"><a {% if products.has_next %} href="?q={{ view_query }}&page={{ products.next_page_number }}" {% else %} href="?q={{ view_query }}&page=page={{ products.paginator.num_pages }}" {% endif %}><i class="paginator fa fa-angle-right"></i></a></div>
				<div class="px-2">
					<div>
					{% for destination_page in paginator.page_range %}
						<div class="px-2 d-inline"><a {% if int_current_page == destination_page %} class="paginator-active" {% else %} class="dark_color_text paginator"  {% endif %} href="?q={{ view_query }}&page={{ destination_page }}">{{ destination_page }}</a></div>
					{% endfor %}
					</div>
				</div>
				<div class="px-3"><a {% if products.has_previous %} href="?q={{ view_query }}&page={{ products.previous_page_number }}" {% else %} href="?q={{ view_query }}&page=1" {% endif %}><i class="paginator fa fa-angle-left"></i></a></div>
				<div class="px-3"><a href="?q={{ view_query }}&page=1"><i class="paginator fa fa-angle-double-left"></i></a></div>
			</div>
		</div>
		{% endif %}

		{% if products %}
		<div class="w-100 my-5" style="border-top: 1px solid #f2f2f2;"></div>
		{% endif %}
		{% if posts %}
		<h2 class="dark_color_text maven_font" style="font-size: 21px;">&#8226; Blogs:</h2>
		{% endif %}

		<div class="row">
			{% for blog in posts %}
			<div class="col-6 p-5 maven_font">
				<div class="" id="blog-post">
					{% autoescape off %}
					<!-- Blog title -->
					<section>
						<div class="pb-1" id="blog-title">
							<h3 class="merry_whether_font text-center"><a class="dark_color_text" href="{{ blog.get_absolute_url }}">{{ blog.name }}</a></h3>
						</div>
					</section>

					<!-- Blog date, author -->
					<section>
						<div class="" id="blog-date-author">
							<p class="merry_whether_font dark_color_text text-center">Đăng ngày {{ blog.created_at|date:"j/n/Y" }} bởi <a href="/search/?q={{ blog.author }}">{{ blog.author }}</a></p>
						</div>
						<div class="d-block mx-auto mt-10" id="separate-title-and-content" style="height: 20px;"></div>			
					</section>

					<!-- Blog image -->
					{% if blog.main_img %}
					<section>
						<div class="mb-10 text-center" id="blog-image">
							<a href="{{ blog.get_absolute_url }}"><img src="{{ blog.main_img.url }}"></a>
						</div>
					</section>
					{% endif %}

					<!-- Blog content summary -->
					{% if blog.content %}
						<div class="blog-content-paragraph"> 
							<div class="blog-content-text">{{ blog.content|truncatewords:50 }}</div>
						</div>
					{% endif %}

					<!-- Xem them -->
					<div class="text-center my-2">
						<a id="continue-reading" href="{{ blog.get_absolute_url }}" class="genric-btn primary-border radius maven_font"><p class="p-0 m-0">Đọc tiếp...</p></a>
					</div>

					<!-- Chu de, comment -->
					<div class="row py-1 mt-3 mb-4 mb-md-5 mx-1" id="category-comment-row">
						<div class="col-8 p-0 m-0">
							<p class="p-0 m-0">Chủ đề: <a href="{% url 'blog:blog_list_by_category' blog.category.slug %}">{{ blog.category }}</a></p>
							{% if blog.hashtag %}
							<p class="p-0 m-0">Hashtags: {% for tag in blog.split_to_single_tags %}<a href="/search/hashtags/?q={{ tag }}">{{ tag }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</p>
							{% endif %}
						</div>
						{% if blog.blogcomment_set.all|length > 0 %}
						<div class="col-4 p-0 m-0 d-flex flex-row-reverse align-items-center">
							<p class="p-0 m-0"><a href="{{ blog.get_absolute_url }}#tra-loi">{{ blog.blogcomment_set.all|length }} Bình luận</a></p>
						</div>
						{% else %}
						<div class="col-4 p-0 m-0 d-flex flex-row-reverse align-items-center">
							<p class="p-0 m-0"><a href="{{ blog.get_absolute_url }}#binh-luan">Viết bình luận</a></p>
						</div>
						{% endif %}
					</div>	
					{% endautoescape %}
				</div>
			</div>
			{% endfor %}
		</div>

	</div>
</section>
<!-- Start Feature Area -->

<!-- Start Feature Area -->
<section id="list_feature_iphone" class="feature-area relative">
	<div class="px-4 row mt-4">
		<h1 class="col-12 dark_color_text maven_font" style="font-size: 15px;">Kết quả tìm kiếm cho <b style="color: #6cbb23">{{ view_query }}</b>:</h1>
	</div>
	<div class="px-4">
		{% if products %}
		<h2 class="dark_color_text maven_font py-2" style="font-size: 17px;">&#8226; Sản phẩm:</h2>
		{% endif %}
		<div class="row align-items-stretch">
			{% for product in products %}
			<div class="col-6 col-sm-4 align-items-stretch p-0">
				<div class="box_shadow_baby d-flex flex-column m-1 p-1">
					<div class="mb-2">
						<a href="{{ product.get_absolute_url }}">
							<img class="d-block relative w-100" src="{% if product.image %} {{ product.image.url }} {% else %} {% static 'img/default.jpg' %} {% endif %}" style="z-index: 600; border: 1px solid #fff; border-radius: 4px;" alt="{{ product.name }}">
						</a>
					</div>
					<div class="w-100 mx-auto row" style="min-height: 40px;">
						<div class="col-6 text-center maven_font py-0">
							<a href="{{ product.get_absolute_url }}"><p class="p-0 m-0" style="color: #111; font-size: 12px; line-height: 16px;">{{ product.name }}</p></a>
						</div>
						<div class="col-6 text-center maven_font p-0">
							<p class="p-0 m-0" style="color: red; font-size: 12px; line-height: 16px;">{{ product.price }} &#x20AB</p>
						</div>
					</div>
				</div>
			</div>
			{% endfor %}					
		</div>
		<!-- Paginator -->
		{% if products.paginator.num_pages > 1 %}
		<div class="relative py-3 text-center">
			<div class="px-1 d-inline"><a href="?q={{ view_query }}&page=1"><i class="paginator-iphone fa fa-angle-double-left"></i></a></div>
			<div class="px-1 d-inline"><a {% if products.has_previous %} href="?q={{ view_query }}&page={{ products.previous_page_number }}" {% else %} href="?q={{ view_query }}&page=1" {% endif %}><i class="paginator-iphone fa fa-angle-left"></i></a></div>
			<div class="px-1 d-inline">
			{% for destination_page in paginator.page_range %}
				<div class="px-2 d-inline"><a {% if int_current_page == destination_page %} class="paginator-iphone-active" {% else %} class="dark_color_text paginator-iphone"  {% endif %} href="?q={{ view_query }}&page={{ destination_page }}">{{ destination_page }}</a></div>
			{% endfor %}
			</div>
			<div class="px-1 d-inline"><a {% if products.has_next %} href="?q={{ view_query }}&page={{ products.next_page_number }}" {% else %} href="?q={{ view_query }}&page={{ products.paginator.num_pages }}" {% endif %}><i class="paginator-iphone fa fa-angle-right"></i></a></div>
			<div class="px-1 d-inline"><a href="?q={{ view_query }}&page={{ products.paginator.num_pages }}"><i class="paginator-iphone fa fa-angle-double-right""></i></a></div>
		</div>
		{% endif %}
		<div class="w-100 my-4" style="border-top: 1px solid #f2f2f2;"></div>
		{% if posts %}
		<h2 class="dark_color_text maven_font" style="font-size: 17px;">&#8226; Blogs:</h2>
		{% endif %}
		{% for blog in posts %}
		<div class="my-5 maven_font" id="blog-post">
			{% autoescape off %}
			<!-- Blog title -->
			<section>
				<div class="pb-1" id="blog-title">
					<h3 style="font-size: 21px;" class="merry_whether_font text-center"><a class="dark_color_text" href="{{ blog.get_absolute_url }}">{{ blog.name }}</a></h3>
				</div>
			</section>

			<!-- Blog date, author -->
			<section>
				<div class="" id="blog-date-author">
					<p style="font-size: 13px;" class="merry_whether_font dark_color_text text-center">Đăng ngày {{ blog.created_at|date:"j/n/Y" }} bởi <a href="/search/?q={{ blog.author }}">{{ blog.author }}</a></p>
				</div>
				<div class="d-block mx-auto mt-10" id="separate-title-and-content" style="height: 20px;"></div>			
			</section>

			<!-- Blog image -->
			{% if blog.main_img %}
			<section>
				<div class="mb-10 text-center" id="blog-image">
					<a href="{{ blog.get_absolute_url }}"><img src="{{ blog.main_img.url }}"></a>
				</div>
			</section>
			{% endif %}

			<!-- Blog content summary -->
			{% if blog.content %}
				<div class="blog-content-paragraph"> 
					<div class="blog-content-text">{{ blog.content|truncatewords:50 }}</div>
				</div>
			{% endif %}

			<!-- Xem them -->
			<div class="text-center my-2">
				<a id="continue-reading" href="{{ blog.get_absolute_url }}" class="genric-btn primary-border radius maven_font"><p class="p-0 m-0">Đọc tiếp...</p></a>
			</div>

			<!-- Chu de, comment -->
			<div class="row py-1 mt-3 mb-4 mb-md-5 mx-1" id="category-comment-row">
				<div class="col-8 p-0 m-0">
					<p class="p-0 m-0">Chủ đề: <a href="{% url 'blog:blog_list_by_category' blog.category.slug %}">{{ blog.category }}</a></p>
					{% if blog.hashtag %}
					<p class="p-0 m-0">Hashtags: {% for tag in blog.split_to_single_tags %}<a href="/search/hashtags/?q={{ tag }}">{{ tag }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</p>
					{% endif %}
				</div>
				{% if blog.blogcomment_set.all|length > 0 %}
				<div class="col-4 p-0 m-0 d-flex flex-row-reverse align-items-center">
					<p class="p-0 m-0"><a href="{{ blog.get_absolute_url }}#tra-loi">{{ blog.blogcomment_set.all|length }} Bình luận</a></p>
				</div>
				{% else %}
				<div class="col-4 p-0 m-0 d-flex flex-row-reverse align-items-center">
					<p class="p-0 m-0"><a href="{{ blog.get_absolute_url }}#binh-luan">Viết bình luận</a></p>
				</div>
				{% endif %}
			</div>	
			{% endautoescape %}
		</div>
		
		{% endfor %}
		
	</div>
</section>
<!-- Start Feature Area -->

{% endblock %}
